<% layout("./template/syntex.ejs")%>

  <body>
    <h1 style="text-align: center;" class="mt-2">Create</h1>
    <div class="row p-0 container m-auto">
      <div class="col-lg-8 col-sm-10 m-auto">
        <form class="needs-validation" action="/home/create" method="post" enctype="multipart/form-data" novalidate>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name:</label>
            <input type="text" class="form-control border-2" id="exampleInputEmail1" aria-describedby="emailHelp"
              name="name" placeholder="Write your name here" required>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please Enter your name.
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Profession:</label>
            <input type="text" class="form-control border-2" id="exampleInputPassword1" name="profession"
              placeholder="Write your profession here" required>
            <div class="invalid-feedback">
              Please Enter your Profession.
            </div>
          </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Headline:</label>
            <input type="text" class="form-control border-2" id="exampleInputPassword1" name="headline"
              placeholder="Write headline here" required>
            <div class="invalid-feedback">
              Please Enter Headline.
            </div>
          </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Upload Image:</label>
            <input type="file" class="form-control border-2" id="exampleInputPassword1"
              placeholder="Write image URL here" name="img" required>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">E-Mail:</label>
            <input type="mail" class="form-control border-2" id="exampleInputPassword1" name="mail"
              placeholder="Write your mail here" required>
            <div class="invalid-feedback">
              Please Enter E-mail.
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Social app link:</label>
            <input type="text" class="form-control border-2" id="exampleInputPassword1" name="social_url"
              placeholder="ex- telegram link or whatsapp link" required>
            <div class="invalid-feedback">
              Please Enter link.
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">linkdIn</label>
            <input type="text" class="form-control border-2" id="exampleInputPassword1" name="linkdin"
              placeholder="linkdIn profile link" required>
            <div class="invalid-feedback">
              Please Enter linkedIn.
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Github:</label>
            <input type="text" class="form-control border-2" id="exampleInputPassword1" name="github"
              placeholder="Write github url here" required>
            <div class="invalid-feedback">
              Please Enter Github link
            </div>
          </div>
          <hr>
          <h3>Education -</h3>
          <div class="row">
            <h6>1.</h6>
            <div class="mb-3 col-12 col-sm-3">
              <label for="exampleInputPassword1" class="form-label">Year:</label>
              <input type="text" class="form-control border-2" id="exampleInputPassword1" name="year1"
                placeholder="Write year here" required>
              <div class="invalid-feedback">
                Please Enter field.
              </div>
            </div>
            <div class="mb-3 col-12 col-sm-9">
              <label for="exampleInputPassword1" class="form-label">Title:</label>
              <input type="text" class="form-control border-2" id="exampleInputPassword1" name="title1"
                placeholder="Write Title here" required>
              <div class="invalid-feedback">
                Please Enter field.
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Descripton:</label>
            <input type="text" class="form-control border-2" id="exampleInputPassword1" name="desc1"
              placeholder="Write description here" required>
            <div class="invalid-feedback">
              Please Enter field.
            </div>
          </div>
          <div class="row">
            <h6>2.</h6>
            <div class="mb-3 col-12 col-sm-3">
              <label for="exampleInputPassword1" class="form-label">Year:</label>
              <input type="text" class="form-control border-2" id="exampleInputPassword1" name="year2"
                placeholder="Write Year here" required>
              <div class="invalid-feedback">
                Please Enter filed.
              </div>
            </div>
            <div class="mb-3 col-12 col-sm-9">
              <label for="exampleInputPassword1" class="form-label">Title:</label>
              <input type="text" class="form-control border-2" id="exampleInputPassword1" name="title2"
                placeholder="Write Title here" required>
              <div class="invalid-feedback">
                Please Enter field.
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Descripton:</label>
            <input type="text" class="form-control border-2" id="exampleInputPassword1" name="desc2"
              placeholder="Write dedication here" required>
            <div class="invalid-feedback">
              Please Enter field.
            </div>
          </div>
          <div class="row">
            <h6>3.</h6>
            <div class="mb-3 col-12 col-sm-3">
              <label for="exampleInputPassword1" class="form-label">Year:</label>
              <input type="text" class="form-control border-2" id="exampleInputPassword1" name="year3"
                placeholder="Write year here" required>
              <div class="invalid-feedback">
                Please Enter field.
              </div>
            </div>
            <div class="mb-3 col-12 col-sm-9">
              <label for="exampleInputPassword1" class="form-label">Title:</label>
              <input type="text" class="form-control border-2" id="exampleInputPassword1" name="title3"
                placeholder="Write Title here" required>
              <div class="invalid-feedback">
                Please Enter field.
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Descripton:</label>
            <input type="text" class="form-control border-2" id="exampleInputPassword1" name="desc3"
              placeholder="Write dedication here" required>
            <div class="invalid-feedback">
              Please Enter field.
            </div>
          </div>
          <hr>
          <h3>Experiance or projects -</h3>
          <div class="row">
            <h6>1.</h6>
            <div class="mb-3 col-12 col-sm-3">
              <label for="exampleInputPassword1" class="form-label">Year:</label>
              <input type="text" class="form-control border-2" id="exampleInputPassword1" name="year4"
                placeholder="Write year here" required>
              <div class="invalid-feedback">
                Please Enter field.
              </div>
            </div>
            <div class="mb-3 col-12 col-sm-9">
              <label for="exampleInputPassword1" class="form-label">Title:</label>
              <input type="text" class="form-control border-2" id="exampleInputPassword1" name="title4"
                placeholder="Write Title here" required>
              <div class="invalid-feedback">
                Please Enter field.
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Descripton:</label>
            <input type="text" class="form-control border-2" id="exampleInputPassword1" name="desc4"
              placeholder="Write description here" required>
            <div class="invalid-feedback">
              Please Enter field.
            </div>
          </div>
          <div class="row">
            <h6>2.</h6>
            <div class="mb-3 col-12 col-sm-3">
              <label for="exampleInputPassword1" class="form-label">Year:</label>
              <input type="text" class="form-control border-2" id="exampleInputPassword1" name="year5"
                placeholder="Write Year here" required>
              <div class="invalid-feedback">
                Please Enter filed.
              </div>
            </div>
            <div class="mb-3 col-12 col-sm-9">
              <label for="exampleInputPassword1" class="form-label">Title:</label>
              <input type="text" class="form-control border-2" id="exampleInputPassword1" name="title5"
                placeholder="Write Title here" required>
              <div class="invalid-feedback">
                Please Enter field.
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Descripton:</label>
            <input type="text" class="form-control border-2" id="exampleInputPassword1" name="desc5"
              placeholder="Write dedication here" required>
            <div class="invalid-feedback">
              Please Enter field.
            </div>
          </div>
          <div class="row">
            <h6>3.</h6>
            <div class="mb-3 col-12 col-sm-3">
              <label for="exampleInputPassword1" class="form-label">Year:</label>
              <input type="text" class="form-control border-2" id="exampleInputPassword1" name="year6"
                placeholder="Write year here" required>
              <div class="invalid-feedback">
                Please Enter field.
              </div>
            </div>
            <div class="mb-3 col-12 col-sm-9">
              <label for="exampleInputPassword1" class="form-label">Title:</label>
              <input type="text" class="form-control border-2" id="exampleInputPassword1" name="title6"
                placeholder="Write Title here" required>
              <div class="invalid-feedback">
                Please Enter field.
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Descripton:</label>
            <input type="text" class="form-control border-2" id="exampleInputPassword1" name="desc6"
              placeholder="Write dedication here" required>
            <div class="invalid-feedback">
              Please Enter field.
            </div>
          </div>
          <hr>
          <h3>professional Skills -</h3>
          <div class="row">
            <h6>1.</h6>
            <div class="mb-3 col-12 col-sm-3">
              <label for="exampleInputPassword1" class="form-label">Knowledge:</label>
              <input type="number" class="form-control border-2" id="exampleInputPassword1" name="knw1"
                placeholder="Write percentage here" min="1" max="100" required>
              <div class="invalid-feedback">
                Please Enter field.
              </div>
            </div>
            <div class="mb-3 col-12 col-sm-9">
              <label for="exampleInputPassword1" class="form-label">Skill name:</label>
              <input type="text" class="form-control border-2" id="exampleInputPassword1" name="skill1"
                placeholder="Write Title here" required>
              <div class="invalid-feedback">
                Please Enter field.
              </div>
            </div>
          </div>
          <div class="row">
            <h6>2.</h6>
            <div class="mb-3 col-12 col-sm-3">
              <label for="exampleInputPassword1" class="form-label">knowledge:</label>
              <input type="number" class="form-control border-2" id="exampleInputPassword1" name="knw2"
                placeholder="Write percentage here" min="1" max="100" required>
              <div class="invalid-feedback">
                Please Enter filed.
              </div>
            </div>
            <div class="mb-3 col-12 col-sm-9">
              <label for="exampleInputPassword1" class="form-label">Skill name:</label>
              <input type="text" class="form-control border-2" id="exampleInputPassword1" name="skill2"
                placeholder="Write Title here">
              <div class="invalid-feedback">
                Please Enter field.
              </div>
            </div>
          </div>
          <div class="row">
            <h6>3.</h6>
            <div class="mb-3 col-12 col-sm-3">
              <label for="exampleInputPassword1" class="form-label">knowledge:</label>
              <input type="number" class="form-control border-2" id="exampleInputPassword1" name="knw3"
                placeholder="Write percentage here" min="1" max="100" required>
              <div class="invalid-feedback">
                Please Enter field.
              </div>
            </div>
            <div class="mb-3 col-12 col-sm-9">
              <label for="exampleInputPassword1" class="form-label">Skill name:</label>
              <input type="text" class="form-control border-2" id="exampleInputPassword1" name="skill3"
                placeholder="Write skill here"  required>
              <div class="invalid-feedback">
                Please Enter field.
              </div>
            </div>
          </div>
          <hr>
          <h3>Soft Skills -</h3>
          <div class="row">
            <h6>1.</h6>
            <div class="mb-3 col-12 col-sm-3">
              <label for="exampleInputPassword1" class="form-label">Knowledge:</label>
              <input type="number" class="form-control border-2" id="exampleInputPassword1" name="knw4"
                placeholder="Write percentage here" min="1" max="100" required>
              <div class="invalid-feedback">
                Please Enter field.
              </div>
            </div>
            <div class="mb-3 col-12 col-sm-9">
              <label for="exampleInputPassword1" class="form-label">Skill name:</label>
              <input type="text" class="form-control border-2" id="exampleInputPassword1" name="skill4"
                placeholder="Write Title here" required>
              <div class="invalid-feedback">
                Please Enter field.
              </div>
            </div>
          </div>
          <div class="row">
            <h6>2.</h6>
            <div class="mb-3 col-12 col-sm-3">
              <label for="exampleInputPassword1" class="form-label">knowledge:</label>
              <input type="number" class="form-control border-2" id="exampleInputPassword1" name="knw5"
                placeholder="Write percentage here" min="1" max="100" required>
              <div class="invalid-feedback">
                Please Enter filed.
              </div>
            </div>
            <div class="mb-3 col-12 col-sm-9">
              <label for="exampleInputPassword1" class="form-label">Skill name:</label>
              <input type="text" class="form-control border-2" id="exampleInputPassword1" name="skill5"
                placeholder="Write Title here" required>
              <div class="invalid-feedback">
                Please Enter field.
              </div>
            </div>
          </div>
          <div class="row">
            <h6>3.</h6>
            <div class="mb-3 col-12 col-sm-3">
              <label for="exampleInputPassword1" class="form-label">knowledge:</label>
              <input type="number" class="form-control border-2" id="exampleInputPassword1" name="knw6"
                placeholder="Write percentage here" min="1" max="100" required>
              <div class="invalid-feedback">
                Please Enter field.
              </div>
            </div>
            <div class="mb-3 col-12 col-sm-9">
              <label for="exampleInputPassword1" class="form-label">Skill name:</label>
              <input type="text" class="form-control border-2" id="exampleInputPassword1" name="skill6"
                placeholder="Write skill here" required>
              <div class="invalid-feedback">
                Please Enter field.
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary mb-2">Create</button>
        </form>
      </div>
    </div>
  </body>