<% layout("./template/syntex.ejs")%>
<body>
  
  <a href="/"><i class="fa-solid fa-backward"></i></a>
  <h1 style="text-align: center;">Create</h1>
    <div class="row offset-3 ">
        <div class="col-8">
            <form action="/create" method="post" >
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Title:</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="title">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Description:</label>
                  <input type="text" class="form-control" id="exampleInputPassword1" name="description">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Filename:</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" name="filename">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">URL:</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" name="url">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Price:</label>
                    <input type="number" class="form-control" id="exampleInputPassword1" name="price">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Location:</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" name="location">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Country:</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" name="country">
                  </div>
                <button type="submit" class="btn btn-primary">Save</button>
              </form>
        </div>
    </div>
    
    
</body>
