<% layout("./template/syntex.ejs")%>

<div class="row mt-4 p-0 container m-auto">
    <div class="col-12 col-lg-4 m-auto">
      <h3 class="mb-3 text-center">Sign-Up</h3>
        <form class="needs-validation form" action="/auth/signup" method="post" novalidate>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email:</label>
              <input type="email" class="form-control border-2" id="exampleInputEmail1" aria-describedby="emailHelp" name="mail" placeholder="Write email here" required>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please enter mail.
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">User name:</label>
              <input type="text" class="form-control border-2" id="exampleInputPassword1" name="username" placeholder="Write username here" required>
            </div> 
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password:</label>
                <input type="text" class="form-control border-2" id="exampleInputPassword1" name="password" placeholder="Write password here" required>
              </div>
            <button type="submit" class="btn btn-primary">Create</button>
          </form>
    </div>
</div>
