@import url('');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'poppins', 'sans-serif';
}

:root {
    --bg-color: #081b29;
    --sbg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

html {
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}
body::-webkit-scrollbar{
    background-color: var(--bg-color);
    width: 8px;
}
body::-webkit-scrollbar-thumb
{
    background-color: var(--main-color);
    width: 5px;
    border-radius: 8px;
}
section {
    min-height: 100vh;
    padding: 7rem 9% 2rem;
}

/*header stle*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

#menu-icon {
    font-size: 3.5rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

.nav a {
    font-size: 1.7rem;
    color: var(--text-color);
    text-decoration: none;
    margin-left: 3.5rem;
}

.nav a:hover {
    color: var(--main-color);
}

/*Home section style*/

.home {
    display: flex;
    align-items: center;
    background-color: var(--sbg-color);
    padding: 0 9%;
    background-size: cover;
    background-position: center;
}

.img-hover {
    position: absolute;
    right: 3rem;
    top: 8rem;
    width: 30%;
    height: 70%;
    transition: 3s;
    border: 1px transparent;
    border-radius: 60px;
    background-color: transparent;
}

.home-cont {
    max-width: 41rem;
    z-index: 99;
}

.intro-top {
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 600;
}

.intro-name {
    font-size: 55px;
    letter-spacing: 2px;
}

.intro {
    font-size: 45px;
    letter-spacing: 2px;

}

.text {
    color: transparent;
    -webkit-text-stroke: .5px var(--main-color);
}

.detail {
    font-size: 20px;
    margin: 2rem 0rem 3rem;
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 35rem;
    height: 4rem;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 100%;
    background: var(--main-color);
    border: .1rem solid var(--main-color);
    border-radius: 0.8rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--bg-color);
    z-index: 1;

}

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    border-radius: 0.8rem;
    transition: .3s;
    z-index: -1;
}

.btn-box .btn:hover::before {
    width: 100%;
}

.btn:hover {
    color: var(--main-color);
}

.social {
    position: absolute;
    bottom: 2rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.social a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .1rem solid var(--bg-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
}

.social a:hover {
    color: var(--bg-color);
    background-color: var(--main-color);
}



/*About section style*/

.heading {
    font-size: 4rem;
    margin-bottom: 3rem;
    text-align: center;

}

span {
    color: var(--main-color);
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.about .edu-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.edu-row .edu-colom {
    flex: 1 1 30rem;
}

.edu-colom .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.edu-colom .edu-box {
    border-left: .2rem solid var(--main-color);
}

.edu-box .edu-cont {
    position: relative;
    padding-left: 2rem;

}

.edu-box .edu-cont::before {
    content: '';
    position: absolute;
    top: 0;
    width: 1rem;
    height: 1rem;
    background: var(--main-color);
    border-radius: 50%;
    left: -.6rem;
}

.edu-cont .cont {
    position: relative;
    padding: .7rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: .7rem;
}

.edu-cont .cont::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--sbg-color);
    z-index: -1;
    transition: .5s;
}

.edu-cont .cont:hover::before {
    width: 100%;

}

.cont .year {
    font-size: 1.12rem;
    color: var(--main-color);

}

.edu-cont .cont h3 {
    font-size: 1.5rem;
}

.edu-cont .cont p {
    font-size: 1.2rem;
    padding-top: .1rem;
}

/*Skill section style*/

.skill {
    min-height: auto;
    padding-bottom: 4rem;
    background: var(--sbg-color);
}

.skill .skill-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skill-row .skill-colom {
    flex: 1 1 30rem;
}

.skill-colom .title {
    font-size: 2rem;
    margin: 0 0 1.5rem;
}

.skill-box .skill-cont {
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .1rem 1.5rem;
    z-index: 1;
}

.skill-box .skill-cont::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.skill-box .skill-cont:hover::before {
    width: 100%;
}

.skill-cont .progress {
    padding: .5rem 0;
}

.skill-cont .progress h3 {
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
}

.skill-cont .progressh3 span {
    color: var(--text-color);
}

.skill-cont .progress .bar {
    height: 2rem;
    border-radius: .6rem;
    border: .1rem solid var(--main-color);
    padding: .5rem;
    margin: .4rem 0;
}

.skill-cont .progress .bar span {
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--main-color);
}

.html {
    width: 0%;
}

.css {
    width: 0%;
}

.js {
    width: 0%;
}

.c {
    width: 0%;
}

.wdev {
    width: 0%;
}

.wdes {
    width: 0%;
}

.prgm {
    width: 0%;
}

.algo {
    width: 0%;
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 9%;
    background: var(--bg-color);
}

.foot-text p {
    font-size: 1rem;
}

.foot-icon a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .1rem;
    background: var(--main-color);
    border: .1rem solid var(--main-color);
    border-radius: .5rem;
}

.foot-icon a i {
    font-size: 2rem;
    color: var(--bg-color);
    border-radius: 50%;
}

.foot-icon a i:hover {
    color: var(--main-color);
    background-color: #081b29;
}

.foot-icon a:hover {
    background-color: #081b29;
}

/*Media query*/

@media(max-width:1200px) {
    html {
        font-size: 55%;
    }
}

@media(max-width:990px) {
    .header {
        padding: 2rem 4%;
    }

    section {
        padding: 10rem 4% 2rem;
    }

    footer {
        padding: 2rem 4%;
    }
}

@media(max-width:800px) {
    html {
        font-size: 55%;
    }

    .header {
        background: var(--bg-color);
    }

    #menu-icon {
        display: block;
    }

    .nav {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--main-color);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        transition: .25s ease;
        transition-delay: .1s;
        z-index: 1;
    }

    .nav.active {
        left: 0;
        transition-delay: 0s;
    }

    .nav .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        border: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .2s ease;
        transition-delay: 0s;
    }

    .nav.active .active-nav {
        left: 0;
        transition-delay: .2s;
    }

    .nav a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .nav.active a {
        transform: translateX(0);
        transition-delay: .2s;
    }

    .home {
        justify-content: center;
    }

    .home-cont {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .home-cont h1 {
        font-size: 5rem;
        display: flex;
        flex-direction: column;
    }
    .img-hover {
        display: none;
    }

    .social {
        bottom: 1.5rem;
    }

    .inp-box .inp-field input,
    .text-area textarea {
        padding: 2rem;
    }

    .contact form .inp-box .inp-field {
        width: 100%;
    }

    .contact form .text-area {
        height: auto;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        margin-top: 2rem;
    }
}