.index-card-img{
    min-height: 12rem !important;
    max-height: 12rem !important;
}
.index-card{
    min-height: 20rem !important;
    max-height: 20rem !important;
    margin-bottom: 5rem;
    padding-bottom: 5rem;
}
.creation-btn{
    width: 100%;
    position: absolute;
    bottom: 10px;
    margin: auto;
}
